In [1]:
from array import *
t = [[11, 12, 5, 2], [15, 6, 10], [10, 8, 12, 5], [12, 15, 8, 6]]
t[0]

[11, 12, 5, 2]

In [2]:
t[1][2]

10

In [3]:
t[2][0]

10

In [4]:
t[3][0]

12

In [5]:
for r in t:
    for c in r:
        print(c, end =" ")
    print()

11 12 5 2
15 6 10
10 8 12 5
12 15 8 6

In [6]:
t.insert(2, [25, 85, 98, 74])

In [7]:
t

[[11, 12, 5, 2], [15, 6, 10], [25, 85, 98, 74], [10, 8, 12, 5], [12, 15, 8, 6]]

In [18]:
for r in t:
    for c in r:
        print(c, end=" ")
    print()

11 12 5 2
15 6 10
25 85 98 74
10 8 12 5
12 15 8 6

In [20]:
t[2] = [11, 9]
t[0][3] = -7
for r in t:
    for c in r:
        print(c, end = " ")
    print()

11 12 5 -7
15 6 10
11 9
10 8 12 5
12 15 8 6

In [21]:
del t[3]
for r in t:
    for c in r:
        print(c, end = " ")
    print()

11 12 5 -7
15 6 10
11 9
12 15 8 6