In [2]:
day = {'Mon', 'Tues', 'Wed', 'Thrus', 'Fri', 'Sat', 'Sun'}
day

{'Fri', 'Mon', 'Sat', 'Sun', 'Thrus', 'Tues', 'Wed'}

In [4]:
for d in day:
    print(d)

Thrus
Wed
Fri
Sat
Mon
Tues
Sun

In [5]:
for d in day:
    print(d)

Thrus
Wed
Fri
Sat
Mon
Tues
Sun

In [6]:
day.add('sunil gavaskar')
day

{'Fri', 'Mon', 'Sat', 'Sun', 'Thrus', 'Tues', 'Wed', 'sunil gavaskar'}

In [7]:
day.discard('sun')
day

{'Fri', 'Mon', 'Sat', 'Sun', 'Thrus', 'Tues', 'Wed', 'sunil gavaskar'}

In [8]:
day

{'Fri', 'Mon', 'Sat', 'Sun', 'Thrus', 'Tues', 'Wed', 'sunil gavaskar'}

In [9]:
day.discard('fri')
for d in day:
    print(d)

Thrus
Wed
Fri
sunil gavaskar
Sat
Mon
Tues
Sun

In [11]:
day2 = {
  'mon', 'tues', 'fri','sat'
}
a = day - day2
a

{'Fri', 'Mon', 'Sat', 'Sun', 'Thrus', 'Tues', 'Wed', 'sunil gavaskar'}

In [14]:
b = day & day2
print(b)

set()

In [15]:
c = day | day2
c

{'Fri',
 'Mon',
 'Sat',
 'Sun',
 'Thrus',
 'Tues',
 'Wed',
 'fri',
 'mon',
 'sat',
 'sunil gavaskar',
 'tues'}

In [17]:
k = day <=day2
k

False

In [18]:
k = day >= day2
k

False